
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Nhà hát kịch</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

	<!-- Animate.css -->
	<link rel="stylesheet" href="public/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="public/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="public/css/bootstrap.css">
	<!-- Superfish -->
	<link rel="stylesheet" href="public/css/superfish.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="public/css/magnific-popup.css">
	<!-- Date Picker -->
	<link rel="stylesheet" href="public/css/bootstrap-datepicker.min.css">
	<!-- CS Select -->
	<link rel="stylesheet" href="public/css/cs-select.css">
	<link rel="stylesheet" href="public/css/cs-skin-border.css">

	<link type="text/css" rel="stylesheet" href="public/css/style.css">


	<!-- Modernizr JS -->
	<script src="public/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="public/js/respond.min.js"></script>
	<script src="public/js/jquery-1.11.0.min.js"></script>
	<script src="public/js/jquery.seat-charts.js"></script>

		<![endif]-->

	</head>
	<body>
	<script>
		function show() {
			var img = ["url(\"public/images/pexels-photo-109669.jpeg\")", "url(\"public/images/10989453_2108229152648726_2310802534517045768_o.jpg\")", "url(\"public/images/pexels-photo-713149.jpeg\")" ];
			var i = 0;
			setInterval(function() {
				i++;
				if( i > 2) i = 0;
				document.querySelector(".fh5co-overlay").style.backgroundImage = img[i];

			}, 3000) ;
		}
		show();
	</script>
		<div id="fh5co-wrapper">
		<div id="fh5co-page">

		<header id="fh5co-header-section" class="sticky-banner">
			<div class="container">
				<div class="nav-header">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
					<h1 id="fh5co-logo"><a href="/"><i class="icon-film "></i>Nhà Hát Kịch</a></h1>
					<% include sidebar %>
				</div>
			</div>
		</header>