<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li class="active"><a href="/">Trang chủ</a></li>
							<li>
								<a href="/schedule" class="fh5co-sub-ddown">Lịch diễn</a>
							</li>
							<li><a href="/performance">Vở diễn</a></li>
							<li><a href="/news">Tin Tức</a></li>
							<li><a href="/contact">Liên hệ</a></li>
						</ul>
					</nav>