<!DOCTYPE HTML>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Nhà hát kịch</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

	<!-- Animate.css -->
	<link rel="stylesheet" href="public/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="public/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="public/css/bootstrap.css">
	<!-- Superfish -->
	<link rel="stylesheet" href="public/css/superfish.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="public/css/magnific-popup.css">
	<!-- Date Picker -->
	<link rel="stylesheet" href="public/css/bootstrap-datepicker.min.css">
	<!-- CS Select -->
	<link rel="stylesheet" href="public/css/cs-select.css">
	<link rel="stylesheet" href="public/css/cs-skin-border.css">

	<link type="text/css" rel="stylesheet" href="public/css/style.css">


	<!-- Modernizr JS -->
	<script src="public/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="public/js/respond.min.js"></script>
	<![endif]-->

	<style type="text/css">
    body{
    	font-family: "Open Sans", Arial, sans-serif;
    }
    body{
    	background:#f3f3e1;
    }
    .wrap{
    	margin:0 auto;
    	width:1000px;
    }
    .logo{
    	margin-top:50px;
    }
    .logo h1{
    	font-size:200px;
    	color:#8F8E8C;
    	text-align:center;
    	margin-bottom:1px;
    	text-shadow:1px 1px 6px #fff;
    }
    .logo p{
    	color:rgb(228, 146, 162);
    	font-size:20px;
    	margin-top:1px;
    	text-align:center;
    }
    .logo p span{
    	color:lightgreen;
    }
    .sub a{
    	color:white;
    	background:#8F8E8C;
    	text-decoration:none;
    	padding:7px 120px;
    	font-size:13px;
    	font-family: arial, serif;
    	font-weight:bold;
    	-webkit-border-radius:3em;
    	-moz-border-radius:.1em;
    	-border-radius:.1em;
    }
    .footer{
    	color:#8F8E8C;
    	position:absolute;
    	right:10px;
    	bottom:10px;
    }
    .footer a{
    	color:rgb(228, 146, 162);
    }
    </style>
	</head>
	<body>
		<div id="fh5co-wrapper">
		<div id="fh5co-page">

		<header id="fh5co-header-section" class="sticky-banner">
			<div class="container">
				<div class="nav-header">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
					<h1 id="fh5co-logo"><a href="index.html"><i class="icon-film "></i>Nhà Hát Kịch</a></h1>
					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li class="active"><a href="/">Trang chủ</a></li>
							<li>
								<a href="/schedule" class="fh5co-sub-ddown">Lịch diễn</a>
							</li>
							<li><a href="/performance">Vở diễn</a></li>
							<li><a href="/news">Tin Tức</a></li>
							<li><a href="/contact">Liên hệ</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>

	<div class="wrap">
	   <div class="logo">
	   <h1>404</h1>
	    <p>Error occurred! - File not Found</p>

  	      <div class="sub">
	        <p><a href="/">Back</a></p>
	      </div>
        </div>
	</div>
	<!---728x90--->

	
</body>