<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Nhà hát kịch</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />
	<!-- //for-mobile-apps -->
	<link href='//fonts.googleapis.com/css?family=Kotta+One' rel='stylesheet' type='text/css'>
	<link
		href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
		rel='stylesheet' type='text/css'>
	<link href="public/css/booking.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="public/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="public/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="public/css/bootstrap.css">
	<!-- Superfish -->
	<link rel="stylesheet" href="public/css/superfish.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="public/css/magnific-popup.css">
	<!-- Date Picker -->
	<link rel="stylesheet" href="public/css/bootstrap-datepicker.min.css">
	<!-- CS Select -->
	<link rel="stylesheet" href="public/css/cs-select.css">
	<link rel="stylesheet" href="public/css/cs-skin-border.css">

	<link rel="stylesheet" href="https://pay.vnpay.vn/lib/vnpay/vnpay.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://pay.vnpay.vn/lib/vnpay/vnpay.js"></script>

	<link type="text/css" rel="stylesheet" href="public/css/style.css">
	<script src="public/js/jquery-1.11.0.min.js"></script>
	<script src="public/js/jquery.seat-charts.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
</head>

<body>

	<div id="fh5co-wrapper">
		<div id="fh5co-page">

			<header id="fh5co-header-section" class="sticky-banner">
				<div class="container">
					<div class="nav-header">
						<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
						<h1 id="fh5co-logo"><a href="/"><i class="icon-film "></i>Nhà Hát Kịch</a></h1>
						<% include public/partials/sidebar %>
					</div>
				</div>
			</header>
		</div>
	</div>
	<div class="container-booking">
		<div class="content">
			<h1>Đặt Vé</h1>
			<div class="main">
				<!--			<table class="table table-bordered table-responsive table-dark">-->
				<!--				<thead class="thead-dark">-->
				<!--				<tr>-->
				<!--					<th scope="col">Ngày</th>-->
				<!--					<th scope="col">Suất chiếu</th>-->
				<!--					<th scope="col">Sân khấu</th>-->
				<!--				</tr>-->
				<!--				</thead>-->
				<!--				<tbody>-->
				<!--				<tr>-->
				<!--					<td>Mark</td>-->
				<!--					<td>Otto</td>-->
				<!--					<td>@mdo</td>-->
				<!--				</tr>-->
				<!--				<tr>-->
				<!--					<td>Jacob</td>-->
				<!--					<td>Thornton</td>-->
				<!--					<td>@fat</td>-->
				<!--				</tr>-->
				<!--				</tbody>-->
				<!--			</table>-->
				<div class="demo">
					<h2>Sân khấu</h2>
					<div id="seat-map">
						<div class="front">SCREEN</div>
					</div>
					<div class="booking-details">
						<div id="legend"></div>
						<ul class="book-left">
							<li>Vở diễn </li>
							<li>Suất chiếu </li>
							<li>Vé </li>
							<li>Tổng </li>
							<li>Chỗ ngồi :</li>
						</ul>
						<ul class="book-right">
							<li>: <%= dramatic.name %></li>
							<li>: <%= new Date(showtime.date).toLocaleDateString() + ', '+ showtime.time %></li>
							<li>: <span id="counter">0</span></li>
							<li>: <b><span id="total">0</span><i> VNĐ</i></b></li>
						</ul>
						<div class="clear"></div>
						<ul id="selected-seats" class="scrollbar scrollbar1"></ul>

						<a href="/" id="btnPopup" class="button btn btn-warning" type="submit">Thanh toán</a>

					</div>
					<div style="clear:both"></div>
				</div>

				<script type="text/javascript">
					var socket = io();
					var transaction_id = <%= transaction_id%>
					var showtime_id = <%= showtime.id%>
					var $cart = $('#selected-seats'), //Sitting Area
						$counter = $('#counter'), //Votes
						$total = $('#total'); //Total money
					var counter = 0,
						total = 0;
					var sc
					// $(document).ready(function () {
					// 	var $cart = $('#selected-seats'), //Sitting Area
					// 		$counter = $('#counter'), //Votes
					// 		$total = $('#total'); //Total money

					// 	sc = $('#seat-map').seatCharts({
					// 		map: [  //Seating chart
					// 			'aaaaaa__aaaaaaa',
					// 			'aaaaaa__aaaaaaa',
					// 			'aaaaaa__aaaaaaa',
					// 			'aaaaaa__aaaaaaa',
					// 			'aaaaaa__aaaaaaa',
					// 			'_______________',
					// 			'aaaaaa__aaaaaaa',
					// 			'aaaaaa__aaaaaaa',
					// 			'aaaaaa__aaaaaaa',
					// 			'aaaaaa__aaaaaaa',
					// 			'aaaaaa__aaaaaaa',
					// 		],
					// 		naming: {
					// 			top: false,
					// 			getLabel: function (character, row, column) {

					// 				return column;
					// 			}
					// 		},
					// 		legend: { //Definition legend
					// 			node: $('#legend'),
					// 			items: [
					// 				// [ 'a', 'vip', 'VIP']
					// 				['a', 'available', 'Available'],
					// 				['a', 'unavailable', 'Unavailable'],
					// 				['a', 'sold', 'Sold'],
					// 				['a', 'selected', 'Selected']
					// 			]
					// 		},
					// 		click: function () { //Click event
					// 			if (this.status() == 'available') { //optional seat
					// 				$('<li>Hàng ' + String.fromCharCode(65 + this.settings.row) + ' Ghế ' + this.settings.label + '</li>')
					// 					.attr('id', 'cart-item-' + this.settings.id)
					// 					.data('seatId', this.settings.id)
					// 					.appendTo($cart);

					// 				$counter.text(sc.find('selected').length + 1);
					// 				$total.text(recalculateTotal(sc) + price_normal);
					// 				console.log('addTicket', transaction_id, showtime_id, this.settings.id)
					// 				socket.emit('addTicket', transaction_id, showtime_id, this.settings.id)

					// 				return 'selected';
					// 			} else if (this.status() == 'vip') { //optional seat
					// 				$('<li>Hàng' + String.fromCharCode(65 + this.settings.row) + ' Ghế' + this.settings.label + '</li>')
					// 					.attr('id', 'cart-item-' + this.settings.id)
					// 					.data('seatId', this.settings.id)
					// 					.appendTo($cart);

					// 				$counter.text(sc.find('selected_vip').length + 1);
					// 				$total.text(recalculateTotal(sc) + price_vip);

					// 				console.log('addTicket', transaction_id, showtime_id, this.settings.id)
					// 				socket.emit('addTicket', transaction_id, showtime_id, this.settings.id)

					// 				return 'selected_vip';
					// 			}
					// 			else if (this.status() == 'selected') { //Checked
					// 				//Update Number
					// 				$counter.text(sc.find('selected').length - 1);
					// 				//update totalnum
					// 				$total.text(recalculateTotal(sc) - price_normal);

					// 				//Delete reservation
					// 				$('#cart-item-' + this.settings.id).remove();
					// 				//optional

					// 				socket.emit('removeTicket', transaction_id, showtime_id, this.settings.id)
					// 				return 'available';
					// 			} else if (this.status() == 'selected_vip') { //Checked
					// 				//Update Number
					// 				$counter.text(sc.find('selected').length + sc.find('selected_vip').length - 1);
					// 				//update totalnum
					// 				$total.text(recalculateTotal(sc) - price_vip);

					// 				//Delete reservation
					// 				$('#cart-item-' + this.settings.id).remove();
					// 				//optional

					// 				socket.emit('removeTicket', transaction_id, showtime_id, this.settings.id)
					// 				return 'vip';
					// 			}
					// 			else if (this.status() == 'unavailable') { //sold
					// 				return 'unavailable';
					// 			} else {
					// 				return this.style();
					// 			}
					// 		}
					// 	});
					// 	//sold seat
					// 	// sc.get(['1_4', '1_5', '1_6', '2_4', '2_5', '2_6', '3_4', '3_5', '3_6', '4_4', '4_5', '4_6', '5_4', '5_5', '5_6', '6_4', '6_5', '6_6', '8_4', '8_5', '8_6', '9_4', '9_5', '9_6', '10_4', '10_5', '10_6',
					// 	// 	'1_9', '1_10', '1_11', '2_9', '2_10', '2_11', '3_9', '3_10', '3_11', '4_9', '4_10', '4_11', '5_9', '5_10', '5_11', '6_9', '6_10', '6_11', '8_9', '8_10', '8_11', '9_9', '9_10', '9_11', '10_9', '10_10', '10_11']).status('vip');

					// });

					function renderMap(map, seats, legendItems, unavailable) {


						sc = $('#seat-map').seatCharts({
							map: map,
							naming: {
								top: false,
								getLabel: function (character, row, column) {

									return column;
								}
							},
							seats: seats,
							legend: { //Definition legend
								node: $('#legend'),
								items: legendItems
							},
							click: function () { //Click event
								if (this.status() == 'available') { //optional seat
									$('<li>Hàng ' + String.fromCharCode(65 + this.settings.row) + ' Ghế ' + this.settings.label + '</li>')
										.attr('id', 'cart-item-' + this.settings.id)
										.data('seatId', this.settings.id)
										.appendTo($cart);

									var price = this.data().price
									counter++
									total += price

									$counter.text(counter);
									$total.text(total);
									console.log('addTicket', transaction_id, showtime_id, this.settings.id)
									socket.emit('addTicket', transaction_id, showtime_id, this.settings.id)

									return 'selected';
								}
								else if (this.status() == 'selected') { //Checked
									//Update Number
									$counter.text(sc.find('selected').length - 1);
									//update totalnum
									var price = this.data().price
									counter--
									total -= price

									$counter.text(counter);
									$total.text(total);

									//Delete reservation
									$('#cart-item-' + this.settings.id).remove();
									//optional

									socket.emit('removeTicket', transaction_id, showtime_id, this.settings.id)
									return 'available';
								}
								else if (this.status() == 'unavailable') { //sold
									return 'unavailable';
								} else {
									return this.style();
								}
							}
						});

						sc.get(unavailable).status('unavailable')
					}

					//sum total money
					function recalculateTotal(sc) {
						var total = 0;
						sc.find('selected').each(function () {
							total += price_normal;
						});
						sc.find('selected_vip').each(function () {
							total += price_vip;
						});

						return total;
					}

					socket.on("update_add", function (st_id, id, status) {
						console.log("Cần phải update vì add")
						if (showtime_id == st_id) {
							if (sc.get(id).status() != 'selected') {
								sc.get(id).status(status)
							}
						}
					});

					socket.on("update_remove", function (st_id, id, status) {
						console.log("Cần phải update vì remove")
						if (showtime_id == st_id) {
							var seat = sc.get(id)
							console.log(seat.status())
							if (seat.status() == 'selected') {
								var price = seat.data().price
								counter--
								total -= price

								$('#cart-item-' + seat.settings.id).remove();

								$counter.text(counter);
								$total.text(total);
							}
							sc.get(id).status(status)
						}
					});

					socket.on('display_error', function (error) {
						alert(error)
					});

					$.ajax({
						url: "/api/booking/getbookingdata",
						type: "post",
						dataType: 'json',
						data: { showtime_id: showtime_id },
						success: function (data) {
							var map = data.data.map
							var seats = data.data.price
							var legendItems = data.data.legendItems
							var unavailable = data.data.unavailable

							renderMap(map, seats, legendItems, unavailable)
						},
						error: function (jqXHR, textStatus, errorThrown) {
							console.log(textStatus, errorThrown);
						}
					});

					$("#btnPopup").click(function () {
						var postData = {
							transaction_id: transaction_id,

						}
						var submitUrl = '/api/create_payment'
						$.ajax({
							type: "POST",
							url: submitUrl,
							data: postData,
							dataType: 'JSON',
							success: function (x) {
								if (x.code === '00') {
									if (window.vnpay) {
										vnpay.open({ width: 768, height: 600, url: x.data });
									}
									else {
										location.href = x.data;
									}
									return false;

								} else {
									alert(x.Message);
								}
							}
						});
						return false;
					});
				</script>
			</div>
		</div>
	</div>
	</div>
	<footer>
		<div id="footer">
			<div class="container">
				<div class="row row-bottom-padded-md">
					<div class="col-md-4 col-sm-4 col-xs-4 fh5co-footer-link">
						<h3>Sân khấu kịch Hồng Vân</h3>
						<ul>
							<li><a href="#">Địa chỉ: 70-72 Nguyễn Văn Trỗi, Q.Phú Nhuận, TP.HCM</a></li>
							<li><a href="#">Hotline đặt vé: 0282 244 6454</a></li>
							<li><a href="#">Liên hệ chương trình hợp tác, thuê rạp và hoạt động khác:</a></li>
							<li><a href="#">sankhaukichhongvan@gmail.com</a></li>
						</ul>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-4 fh5co-footer-link">
						<h3>Bản đồ</h3>
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2330.3732799892923!2d106.67517051293738!3d10.795599650638266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175292a00daa6e3%3A0xf593bc80bc97a65b!2zNzAtNzIgTmd1eeG7hW4gVsSDbiBUcuG7l2k!5e0!3m2!1sen!2s!4v1574655145731!5m2!1sen!2s"
							width="359" height="200" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-4 fh5co-footer-link">
						<h3>Chăm sóc khách hàng</h3>
						<ul>
							<li><a href="#">Hotline: 039 503 2904</a></li>
							<li><a href="#">Giờ làm việc: 8:00 - 22:00 (Tất cả các ngày bao gồm cả Lễ Tết) </a></li>
							<li><a href="#">Mail: hoidap@gmail.com.vn</a></li>
						</ul>


					</div>
					<div class="row">
						<div class="col-md-6 col-md-offset-3 text-center">
							<p class="fh5co-social-icons">
								<a href="#"><i class="icon-twitter2"></i></a>
								<a href="#"><i class="icon-facebook2"></i></a>
								<a href="#"><i class="icon-instagram"></i></a>
								<a href="#"><i class="icon-dribbble2"></i></a>
								<a href="#"><i class="icon-youtube"></i></a>
							</p>
							<p>Copyright 2016 Free Html5 <a href="#">Module</a>. All Rights Reserved. <br>Made with <i
									class="icon-heart3"></i> by <a href="http://freehtml5.co/"
									target="_blank">Freehtml5.co</a> / Demo Images: <a href="https://unsplash.com/"
									target="_blank">Unsplash</a></p>
						</div>
					</div>
				</div>
			</div>
	</footer>
	<script src="public/js/jquery.nicescroll.js"></script>
	<script src="public/js/scripts.js"></script>
</body>

</html>