<% include public/partials/header %>
		

		<div id="fh5co-tours" class="fh5co-section-gray">
			<div class="container">
				<div class="row">
					<h6 class="heading-title">Travel Booking guide to book a perfect hotel</h6>
					<div class="col-md-12 animate-box">
						<p>Far far away, behind the word mountains, Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind  Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind  Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind  Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind  Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind  far from the countries Vokalia and Consonantia, there live the blind texts. Pellentesque habitant morbi tristique senectus et netus ett mauada fames ac turpis egestas. Etiam euismod tempor leo, in suscipit urna condimentum sed. Vivamus augue enim, consectetur ac interdum a, pulvinar ac massa. Nullam malesuada congue </p>

					</div>
					<div class="col-md-6 animate-box">
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Pellentesque habitant morbi tristique senectus et netus ett mauada fames ac turpis egestas. Etiam euismod tempor leo, in suscipit urna condimentum sed. Vivamus augue enim, consectetur ac interdum a, pulvinar ac massa. Nullam malesuada congue </p>
						<p>Pellentesque habitant morbi tristique senectus et netus ett mauada fames ac turpis egestas. Etiam euismod tempor leo, in suscipit urna condimentum sed. Vivamus augue enim, consectetur ac interdum a, pulvinar ac massa. Nullam malesuada congue </p>
					</div>
					<div class="col-md-6 animate-box">
						<img class="img-responsive" src="public/images/cover_bg_2.jpg" alt="travel">
					</div>
				</div>
			</div>
		</div>

	</div>
<% include public/partials/footer %>
