<% include public/partials/header %>
		

		<div id="fh5co-tours" class="fh5co-section-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3>Tin tức</h3>
					</div>
				</div>
				<% news.forEach(_news => { %>
				<div class="row">
					<h6 class="heading-title mt-5"><%= _news.title%></h6>
                    					<div class="col-md-12 animate-box">
                    					</div>
                    					<div class="col-md-6 animate-box">
                    						<p class="limit"><%= _news.content%></p>
                    						<a href="/news/<%=_news.id%>">Đọc tiếp <i class="icon-arrow-right22"></i></a>
                    					</div>
                    					<div class="col-md-6 animate-box">

                    						<img class="img-responsive" style="margin-bottom: 40px" src="public/images/cover_bg_2.jpg" alt="travel">
                    					</div>
				</div>
				<% }) %>
			</div>
		</div>

	</div>
<% include public/partials/footer %>
