<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Nhà hát kịch</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

	<!-- Animate.css -->
	<link rel="stylesheet" href="public/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="public/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="public/css/bootstrap.css">
	<!-- Superfish -->
	<link rel="stylesheet" href="public/css/superfish.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="public/css/magnific-popup.css">
	<!-- Date Picker -->
	<link rel="stylesheet" href="public/css/bootstrap-datepicker.min.css">
	<!-- CS Select -->
	<link rel="stylesheet" href="public/css/cs-select.css">
	<link rel="stylesheet" href="public/css/cs-skin-border.css">

	<link type="text/css" rel="stylesheet" href="public/css/style.css">


	<!-- Modernizr JS -->
	<script src="public/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="public/js/respond.min.js"></script>
	<script src="public/js/jquery-1.11.0.min.js"></script>
	<script src="public/js/jquery.seat-charts.js"></script>

	<![endif]-->

</head>

<body>
	<div id="fh5co-wrapper">
		<div id="fh5co-page">

			<header id="fh5co-header-section" class="sticky-banner">
				<div class="container">
					<div class="nav-header">
						<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
						<h1 id="fh5co-logo"><a href="/"><i class="icon-film "></i>Nhà Hát Kịch</a></h1>
						<% include public/partials/sidebar %>
					</div>
				</div>
			</header>
			<div class="fh5co-hero">
				<div class="fh5co-overlay"></div>

				<div class="fh5co-cover" data-stellar-background-ratio="0.5"
					style="background-image: url(public/images/cover_bg_1.jpg);">

					<div class="desc">

						<div class="container ml-5">
							<div class="row center-block">
								<div class="col-sm-8 col-md-8 " style='margin-left:17%'>
									<div class="tabulation animate-box" style="border-radius: 10px">
										<ul class="nav nav-tabs" role="tablist">

											<li role="presentation" class="active" style="width:100%; padding: 0 10%">
												<a href="#login" aria-controls="flights" role="tab" data-toggle="tab">
													<h3
														style="color:rgb(252, 250, 250); text-align: center; text-transform: uppercase; margin:15px ">
														Thanh toán thành công</h3>
												</a>
											</li>
											<div class="col-sm-12 mt" style="padding-top: 20px;">
													<div class="input-field">
														<h4 style="text-align: center; color: black;">Vở: <%= showtime.dramatics.name%></h4>
														<h4 style="text-align: center; color: black; margin-bottom: 0;"> Ghế: <%=transaction.tickets.map( item => item.seat.code).join(', ')%> - <%=new Date(showtime.date).toLocaleDateString('vi-VN', { weekday: 'long', year: 'numeric', month: '2-digit', day: '2-digit' })%> - <%=showtime.time%></h4>
			
													</div>
												</div>



										</ul>

										<div class="tab-content">
											<div role="tabpanel" class="tab-pane active" id="login">
												<div class="row">

													<form>

														<div class="col-md-12 col-sm-12 fh5co-tours animate-box"
															data-animate-effect="fadeIn">
															<div href="#"><img src="public/images/ticket1.jpg"
																	alt="ticket" class="img-responsive">
															</div>
														</div>


														
														<div class="col-sm-12">
															<div class="input-field">
																<h4 style="text-align: center; color: black;">Thông tin chi tiết vé đã được gửi về Email của bạn</h4>
																
															</div>
														</div>

													</form>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
				</div>
			</div>

			<% include public/partials/footer %>