<% include public/partials/header %>


<div id="fh5co-tours" class="fh5co-section-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
				<h6 class="heading-title">Travel Booking guide to book a perfect hotel</h6>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
				<div href="#"><img src="public/images/place-2.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
				</div>
			</div>
			<div class="col-md-8 animate-box">
				<ul class="book-left">
					<li>Đạo diễn: </li>
					<li>Tác giả: </li>
					<li>Diễn viên: </li>
					<li>Âm nhạc:  </li>
					<li>Trợ lý: </li>
				</ul>
				<ul class="book-right">
					<li> Gingerclown</li>
					<li> Gingerclown</li>
					<li> Gingerclown</li>
					<li> Gingerclown</li>
					<li> Gingerclown</li>
				</ul>
				<div class="col-md-12">
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Pellentesque habitant morbi tristique senectus et netus ett mauada fames ac turpis egestas. Etiam euismod tempor leo, in suscipit urna condimentum sed. Vivamus augue enim, consectetur ac interdum a, pulvinar ac massa. Nullam malesuada congue </p>
				<p>Pellentesque habitant morbi tristique senectus et netus ett mauada fames ac turpis egestas. Etiam euismod tempor leo, in suscipit urna condimentum sed. Vivamus augue enim, consectetur ac interdum a, pulvinar ac massa. Nullam malesuada congue </p>
				</div>
					<div class="col-md-8">
					<table class="table table-bordered table-responsive table-dark col-md-6">
						<thead class="thead-dark">
						<tr>
							<th scope="col">Ngày</th>
							<th scope="col">Suất chiếu</th>
							<th scope="col"></th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>23/22/2222</td>
							<td>10h 30 SA</td>
							<td><a class="btn btn-primary btn-outline" href="/booking">Mua vé ngay <i class="icon-arrow-right22"></i></a></td></tr>
						<tr>
							<td>Jacob</td>
							<td>Thornton</td>
							<td><a class="btn btn-primary btn-outline" href="/booking">Mua vé ngay <i class="icon-arrow-right22"></i></a></td>
						</tr>

						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>
</div>

</div>
<% include public/partials/footer %>


